* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

nav{
    /* background-color: coral; */
    height: 30px;
    padding: 20px;
    font-size: 2em;
    
}
main{
    display:block;
    text-align: center;
    
    
}
/* .container{
    display: none;
} */

#enterInitials{
    display: none;
    width: 200px;
    padding: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: slateblue;
}


#startQuiz {
    display:block;
    padding: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color:silver;
    border-radius: 30px;
    color: white;
    font-size: 30px;
}
.container{
    margin-top: 20px;
}
#questionPrompt{
    margin: 50px;
}
.answer-button {
    display:block;
    position: relative;
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color:dodgerblue;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}

.timer{
    /* display: inline-block; */
    
    
    float: right;
    margin-right: 25px;
}

.view-highscores{
    border: none;
    padding: 10px;
}